<div class="ui raised segment">
  <h2 class="ui header">Search for Market</h2>
  <form [formGroup]="searchMarketForm" (ngSubmit)="onSubmit(searchMarketForm.value)" class="ui form error">
    <div class="field" [class.error]="!searchMarketForm.valid">
      <label for="searchKey">By {{searchType}}</label>
      <input type="text" id="searchKey" formControlName="searchKey">
    </div>

    <div class="ui error message" *ngIf="searchMarketForm.controls['searchKey'].hasError('required')">
      Please enter {{searchType}}
    </div>

    <div *ngIf="searchMarketForm.valid">
      <button type="submit" class="ui button">Submit</button>
    </div>
  </form>
  <!-- <div>
        {{serverData | json}}
    </div> -->

  <p></p>
  <div>
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Region</th>
          <th>District</th>
          <th>Market</th>
          <th>Address</th>
          <th>Business Hours</th>
          <th>Coordinate</th>
          <th>Contact 1</th>
          <th>Contact 2</th>
          <th>Tenancy Commodity</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let market of serverDataArr">
          <td>{{market.ID}}</td>
          <td>{{market.Region_e}}</td>
          <td>{{market.District_e}}</td>
          <td>{{market.Market_e}}</td>
          <td>{{market.Address_e}}</td>
          <td>{{market.Business_Hours_e}}</td>
          <td>{{market.Coordinate}}</td>
          <td>{{market.Contact_1}}</td>
          <td>{{market.Contact_2}}</td>
          <td>{{market.Tenancy_Commodity_e}}</td>
          <td>
            <button (click)="editButtonHandler(market.ID)">
              Edit
            </button>
          </td>
          <td>
            <button (click)="deleteButtonHandler(market.ID)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>