<div class="ui raised segment">
  <h2 class="ui header">Edit Market Record</h2>
  <form [formGroup]="editMarketForm" (ngSubmit)="onSubmit(editMarketForm.value)" class="ui form">

    <div class="field" [class.error]="!editMarketForm.controls['mkid'].valid">
      <label for="mkid">ID</label>
      <input type="text" id="mkid" formControlName="mkid" readonly>
      <div *ngIf="!editMarketForm.controls['mkid'].valid" class="ui error message">ID must be entered</div>
    </div>

    <div class="field" [class.error]="!editMarketForm.controls['Region_e'].valid">
      <label for="Region_e">Region</label>
      <input type="text" id="Region_e" formControlName="Region_e">
    </div>

    <div class="field" [class.error]="!editMarketForm.controls['District_e'].valid">
      <label for="District_e">District</label>
      <input type="text" id="District_e" formControlName="District_e">
    </div>

    <div class="field" [class.error]="!editMarketForm.controls['Market_e'].valid">
      <label for="Market_e">Market</label>
      <input type="text" id="Market_e" formControlName="Market_e">
    </div>

    <div class="field" [class.error]="!editMarketForm.controls['Address_e'].valid">
      <label for="Address_e">Address</label>
      <input type="text" id="Address_e" formControlName="Address_e">
    </div>

    <div class="field" [class.error]="!editMarketForm.controls['Business_Hours_e'].valid">
      <label for="Business_Hours_e">Business Hours</label>
      <input type="text" id="Business_Hours_e" formControlName="Business_Hours_e">
    </div>

    <div class="field" [class.error]="!editMarketForm.controls['Coordinate'].valid">
      <label for="Coordinate">Coordinate</label>
      <input type="text" id="Coordinate" formControlName="Coordinate">
    </div>

    <div class="field" [class.error]="!editMarketForm.controls['Contact_1'].valid">
      <label for="Contact_1">Contact 1</label>
      <input type="text" id="Contact_1" formControlName="Contact_1">
    </div>

    <div class="field" [class.error]="!editMarketForm.controls['Contact_2'].valid">
      <label for="Contact_2">Contact 2</label>
      <input type="text" id="Contact_2" formControlName="Contact_2">
    </div>

    <div class="field" [class.error]="!editMarketForm.controls['Tenancy_Commodity_e'].valid">
      <label for="Tenancy_Commodity_e">Tenancy Commodity</label>
      <input type="text" id="Tenancy_Commodity_e" formControlName="Tenancy_Commodity_e">
    </div>

    <button type="submit" class="ui button">Submit</button>
    <div class="ui left pointing red basic label">
      {{message}}
    </div>

  </form>

  <div class="ui center aligned basic segment">
    <div class="ui horizontal divider">
      <button mat-raised-button id="modal-close-button" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>